﻿@charset "utf-8";
.aui-Carousel {
    overflow: hidden;
    position: relative;
    z-index: 1
}

.aui-Carousel li, .aui-Carousel > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative
}

.aui-Carousel > ul {
    font-size: 0
}

.aui-Carousel li {
    background-position: center center;
    background-repeat: no-repeat
}

.aui-Carousel .car-bullets, .aui-Carousel .car-hotarea {
    z-index: 10
}

.aui-Carousel .car-hotarea {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    cursor: default;
    display: none
}

.aui-Carousel .car-hotarea.prev {
    left: 0
}

.aui-Carousel .car-hotarea.next {
    right: 0
}

.aui-Carousel:hover .car-hotarea {
    display: block;
    cursor: pointer
}

.aui-Carousel .car-hotarea > .car-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -30px;
    display: block;
    font-family: serif, Monaco, "隶书";
    font-size: 72px;
    text-align: center;
    line-height: 1;
    color: #666
}

.aui-Carousel .car-hotarea:hover > .car-btn {
    background: rgba(102, 102, 102, .4);
    color: #fff;
    border-radius: 3px
}

.aui-Carousel .car-bullets {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center
}

.aui-Carousel .car-bullets > li {
    background: #fff;
    width: 16px;
    height: 16px;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer
}

.aui-Carousel .car-bullets li.active {
    background: #e6cf00
}

.fade .wrappers, .fade .wrappers li {
    height: 100%;
    width: 100%;
    text-align: center
}

.fade .wrappers > li {
    position: absolute;
    z-index: 0;
    opacity: 0;
    width: 10000px;
    left: 50%;
    margin-left: -5000px;
    visibility: hidden;
    transition: opacity .8s;
    -webkit-transition: opacity .8s
}

.fade .wrappers > li.active {
    z-index: 5;
    opacity: 1;
    visibility: visible;
    display: block
}

.slide .wrappers li {
    float: left
}

.slide .wrappers {
    transition: transform .8s cubic-bezier(.86, 0, .07, 1);
    transition: -webkit-transform .8s cubic-bezier(.86, 0, .07, 1);
    -webkit-transition: -webkit-transform .8s cubic-bezier(.86, 0, .07, 1)
}

.price {
    color: #e41e2b
}

.block-title {
    font-size: 24px;
    line-height: 24px
}

.block-title .more {
    font-size: 16px;
    float: right
}

@media (max-width: 799px) {
    .block-title {
        font-size: 18px;
        line-height: 18px
    }

    .block-title .more {
        font-size: 14px
    }
}

.icons-product-md {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/icons-product-md.png) 0 0 no-repeat
}

.icons-product-md.antiddos {
    background-position: 0 0
}

.icons-product-md.as {
    background-position: -32px 0
}

.icons-product-md.bigdata {
    background-position: -64px 0
}

.icons-product-md.cae {
    background-position: -96px 0
}

.icons-product-md.ces {
    background-position: -128px 0
}

.icons-product-md.dec {
    background-position: -160px 0
}

.icons-product-md.devcloud {
    background-position: -192px 0
}

.icons-product-md.ecpc {
    background-position: -224px 0
}

.icons-product-md.ecs {
    background-position: -256px 0
}

.icons-product-md.elb {
    background-position: -288px 0
}

.icons-product-md.evs {
    background-position: -320px 0
}

.icons-product-md.hid {
    background-position: -352px 0
}

.icons-product-md.iam {
    background-position: -384px 0
}

.icons-product-md.ims {
    background-position: -416px 0
}

.icons-product-md.obs {
    background-position: -448px 0
}

.icons-product-md.rds {
    background-position: -480px 0
}

.icons-product-md.si {
    background-position: -512px 0
}

.icons-product-md.vbs {
    background-position: -544px 0
}

.icons-product-md.vpc {
    background-position: -576px 0
}

.icons-product-md.waf {
    background-position: -608px 0
}

.icons-product-md.webscan {
    background-position: -640px 0
}

.icons-product-md.workspace {
    background-position: -672px 0
}

.icons-product-md.dc {
    background-position: -810px 0
}

.icons-product-md.vpn {
    background-position: -778px 0
}

.icons-product-md.cce {
    background-position: -840px 0
}

.icons-product-md.dta {
    background-position: -872px 0
}

.icons-product-md.kms {
    background-position: -906px 0
}

.icons-solution {
    width: 65px;
    height: 53px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/icons-solution-lg.png) 0 0 no-repeat
}

.icons-solution.app {
    background-position: 0 0
}

.icons-solution.app.on {
    background-position: -65px 0
}

.icons-solution.bigdata {
    background-position: -130px 0
}

.icons-solution.bigdata.on {
    background-position: -195px 0
}

.icons-solution.biotechcloud {
    background-position: -260px 0
}

.icons-solution.biotechcloud.on {
    background-position: -325px 0
}

.icons-solution.businesscloud {
    background-position: -390px 0
}

.icons-solution.businesscloud.on {
    background-position: -455px 0
}

.icons-solution.clouddisaster {
    background-position: -520px 0
}

.icons-solution.clouddisaster.on {
    background-position: -585px 0
}

.icons-solution.clustercomputing {
    background-position: -650px 0
}

.icons-solution.clustercomputing.on {
    background-position: -715px 0
}

.icons-solution.financecloud {
    background-position: -780px 0
}

.icons-solution.financecloud.on {
    background-position: -845px 0
}

.icons-solution.gamecloud {
    background-position: -910px 0
}

.icons-solution.gamecloud.on {
    background-position: -975px 0
}

.icons-solution.govcloud {
    background-position: -1040px 0
}

.icons-solution.govcloud.on {
    background-position: -1105px 0
}

.icons-solution.logisticscloud {
    background-position: -1170px 0
}

.icons-solution.logisticscloud.on {
    background-position: -1235px 0
}

.icons-solution.mediacloud {
    background-position: -1300px 0
}

.icons-solution.mediacloud.on {
    background-position: -1365px 0
}

.icons-solution.migrationcloud {
    background-position: -1430px 0
}

.icons-solution.migrationcloud.on {
    background-position: -1495px 0
}

.icons-solution.parkcloud {
    background-position: -1560px 0
}

.icons-solution.parkcloud.on {
    background-position: -1625px 0
}

.icons-solution.rendercloud {
    background-position: -1690px 0
}

.icons-solution.rendercloud.on {
    background-position: -1755px 0
}

.icons-solution.retail {
    background-position: -1820px 0
}

.icons-solution.retail.on {
    background-position: -1885px 0
}

.icons-solution.virtualdatacenter {
    background-position: -1950px 0
}

.icons-solution.virtualdatacenter.on {
    background-position: -2015px 0
}

.icons-solution.website {
    background-position: -2080px 0
}

.icons-solution.website.on {
    background-position: -2145px 0
}

@media (max-width: 1023px) {
    .icons-solution {
        width: 32px;
        height: 32px;
        background: url(../images/icons-solution-md.png) 0 0 no-repeat
    }

    .icons-solution.app {
        background-position: 0 0
    }

    .icons-solution.app.on {
        background-position: -32px 0
    }

    .icons-solution.bigdata {
        background-position: -64px 0
    }

    .icons-solution.bigdata.on {
        background-position: -96px 0
    }

    .icons-solution.biotechcloud {
        background-position: -128px 0
    }

    .icons-solution.biotechcloud.on {
        background-position: -160px 0
    }

    .icons-solution.businesscloud {
        background-position: -192px 0
    }

    .icons-solution.businesscloud.on {
        background-position: -224px 0
    }

    .icons-solution.clouddisaster {
        background-position: -256px 0
    }

    .icons-solution.clouddisaster.on {
        background-position: -288px 0
    }

    .icons-solution.clustercomputing {
        background-position: -320px 0
    }

    .icons-solution.clustercomputing.on {
        background-position: -352px 0
    }

    .icons-solution.financecloud.on {
        background-position: -384px 0
    }

    .icons-solution.financecloud {
        background-position: -416px 0
    }

    .icons-solution.gamecloud.on {
        background-position: -448px 0
    }

    .icons-solution.gamecloud {
        background-position: -480px 0
    }

    .icons-solution.govcloud {
        background-position: -512px 0
    }

    .icons-solution.govcloud.on {
        background-position: -544px 0
    }

    .icons-solution.logisticscloud {
        background-position: -576px 0
    }

    .icons-solution.logisticscloud.on {
        background-position: -608px 0
    }

    .icons-solution.mediacloud {
        background-position: -640px 0
    }

    .icons-solution.mediacloud.on {
        background-position: -672px 0
    }

    .icons-solution.migrationcloud {
        background-position: -704px 0
    }

    .icons-solution.migrationcloud.on {
        background-position: -736px 0
    }

    .icons-solution.parkcloud {
        background-position: -768px 0
    }

    .icons-solution.parkcloud.on {
        background-position: -800px 0
    }

    .icons-solution.rendercloud {
        background-position: -832px 0
    }

    .icons-solution.rendercloud.on {
        background-position: -864px 0
    }

    .icons-solution.retail {
        background-position: -896px 0
    }

    .icons-solution.retail.on {
        background-position: -928px 0
    }

    .icons-solution.virtualdatacenter {
        background-position: -960px 0
    }

    .icons-solution.virtualdatacenter.on {
        background-position: -992px 0
    }

    .icons-solution.website {
        background-position: -1024px 0
    }

    .icons-solution.website.on {
        background-position: -1056px 0
    }
}

.aui-Carousel .car-bullets li {
    width: 30px;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 5px
}

.aui-Carousel .car-bullets li.active {
    background: #e6cf00;
    border-color: #e6cf00;
    opacity: 1
}

.content-block.overview {
    position: relative;
    max-width: none;
    margin-top: 0;
    padding: 0
}

.aui-Carousel {
    height: 465px;
    width: 100%
}

.aui-Carousel .car-summary {
    position: absolute
}

.overview-carousel {
    position: relative
}

@media (max-width: 1023px) {
    .aui-Carousel {
        height: auto
    }

    .aui-Carousel > ul > li img {
        width: 100%
    }
}

.announcement {
    padding: 10px;
    background: #fff
}

.announce-box {
    max-width: 1200px;
    margin: auto
}

.announcement .more {
    float: right;
    line-height: 24px
}

.announce-list {
    font-size: 0;
    margin-right: 50px;
    height: 25px;
    overflow: hidden
}

.announce-list > .item {
    width: 33%;
    line-height: 24px;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 50px;
    position: relative
}

.announce-list > .item:before {
    content: '';
    width: 19px;
    height: 24px;
    background: url(../images/announce-icon.png);
    display: inline-block;
    vertical-align: -5px;
    margin-right: 10px
}

.announce-list > .item1:before {
    background: url(../images/announce-icon-1.png)
}

.announce-list > .item1 {
    color: #e41e2b;
    font-weight: 700
}

@media (max-width: 1279px) {
    .announcement {
        padding-left: 30px;
        padding-right: 30px
    }
}

@media (max-width: 1023px) {
    .announce-list > .item {
        width: 50%;
        padding-right: 20px
    }

    .announcement {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width: 799px) {
    .announcement {
        padding-left: 10px;
        padding-right: 10px
    }

    .announce-list > .item {
        width: 100%
    }
}

.prod-tab-tile .price {
    color: #e41e2b;
    font-family: 'Helvetica';
    font-weight: 400
}

.prod-tab-tile .price sup {
    font-size: 14px;
    font-family: "微软雅黑", "Microsoft Yahei", "华文细黑", STXihei;
    vertical-align: 8px
}

.prod-tab-tile {
    padding: 0 30px;
    height: 500px;
    overflow: hidden
}

.prod-tab-tile .tab-caption .caption {
    color: #91989e;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 0;
    text-align: center;
    height: 80px
}

.prod-tab-tile .tab-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee
}

.prod-tab-tile .icons-product-md {
    float: left
}

.prod-tab-tile .item-title {
    position: relative;
    cursor: pointer
}

.prod-tab-tile .item-title .caption {
    font-size: 16px;
    line-height: 32px;
    margin-left: 40px;
    margin-bottom: 0
}

.prod-tab-tile .foldIcon {
    position: absolute;
    right: 0;
    top: 10px
}

.prod-tab-tile
.item-details {
    display: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 10px
}

.prod-tab-tile .tab-item:first-child .item-details {
    display: block
}

.prod-tab-tile .item-details .info {
    text-align: left;
    height: 50px
}

.prod-tab-tile .prod-price {
    margin: 20px;
    height: 40px;
    line-height: 40px
}

.prod-tab-tile .prod-price .price {
    font-size: 30px
}

.prod-price .price-free {
    font-size: 18px;
    color: #e41e2b
}

.prod-tab-tile .aui-btn-red {
    margin-right: 5px
}

@media (max-width: 799px) {
    .prod-tab-tile .tab-item:first-child .item-details {
        display: none
    }

    .prod-tab-tile .tab-item .item-details {
        padding-top: 0
    }

    .prod-tab-tile {
        height: auto;
        padding-bottom: 10px
    }

    .prod-tab-tile .item-details .info {
        height: auto
    }

    .prod-tab-tile .tab-caption .caption {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        height: auto
    }

    .prod-tab-tile .tab-item {
        padding-top: 5px;
        padding-bottom: 5px
    }

    .prod-tab-tile .prod-price {
        height: 36px;
        line-height: 36px;
        margin: 10px
    }
}

.solution-nav {
    z-index: 2
}

.sol-nav-item {
    float: left;
    width: 12.5%;
    padding: 23px 10px 13px;
    text-align: center;
    cursor: pointer;
    position: relative
}

.sol-nav-item.on .title {
    color: #e41e2b
}

.sol-nav-item.on:after {
    content: "";
    border: 14px solid transparent;
    border-top-color: #fff;
    position: absolute;
    bottom: -28px;
    left: 50%;
    margin-left: -14px;
    z-index: 1
}

.sol-nav-item .icons-solution {
    margin-bottom: 10px
}

@media (max-width: 1023px) {
    .sol-nav-item.on:after {
        display: none
    }

    .sol-nav-item .icons-solution {
        float: left;
        margin-right: 10px;
        margin-bottom: 0
    }

    .sol-nav-item {
        width: 25%;
        text-align: left;
        padding: 0 0 0 40px;
        margin-top: 10px;
        margin-bottom: 10px
    }

    .sol-nav-item .title {
        line-height: 30px
    }
}

@media (max-width: 600px) {
    .sol-nav-item {
        width: 50%
    }
}

.solution-poster {
    position: relative;
    height: 350px
}

.sol-poster-title {
    display: none
}

.sol-poster-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    z-index: 0;
    transition: opacity .8s
}

.sol-poster-item.show {
    opacity: 1;
    z-index: 1
}

.sol-poster-content {
    padding-left: 60px;
    padding-top: 30px;
    max-width: 660px
}

.sol-poster-content .poster-caption {
    height: 141px;
    margin-left: -30px;
    margin-bottom: 15px;
    background-repeat: no-repeat
}

.app .sol-poster-content .poster-caption {
    background-image: url(../images/caption.png)
}

.website .sol-poster-content .poster-caption {
    background-image: url(../images/caption_1.png)
}

.businesscloud .sol-poster-content .poster-caption {
    background-image: url(../images/caption_2.png)
}

.bigdata .sol-poster-content .poster-caption {
    background-image: url(../images/caption_3.png)
}

.gamecloud .sol-poster-content .poster-caption {
    background-image: url(../images/caption_4.png)
}

.virtualdatacenter .sol-poster-content .poster-caption {
    background-image: url(../images/caption_5.png)
}

.rendercloud .sol-poster-content .poster-caption {
    background-image: url(../images/caption_6.png)
}

.biotechcloud .sol-poster-content .poster-caption {
    background-image: url(../images/caption_7.png)
}

.app.sol-poster-item {
    background-image: url(../images/poster.jpg)
}

.website.sol-poster-item {
    background-image: url(../images/poster_1.jpg)
}

.businesscloud.sol-poster-item {
    background-image: url(../images/poster_2.jpg)
}

.bigdata.sol-poster-item {
    background-image: url(../images/poster_3.jpg)
}

.gamecloud.sol-poster-item {
    background-image: url(../images/poster_4.jpg)
}

.virtualdatacenter.sol-poster-item {
    background-image: url(../images/poster_5.jpg)
}

.rendercloud.sol-poster-item {
    background-image: url(../images/poster_6.jpg)
}

.biotechcloud.sol-poster-item {
    background-image: url(../images/poster_7.jpg)
}

.sol-poster-item .detail {
    margin-bottom: 30px
}

@media (max-width: 1023px) {
    .sol-poster-content {
        max-width: 520px;
        padding-left: 40px;
        padding-top: 40px
    }
}

@media (max-width: 799px) {
    .sol-poster-list {
        padding: 0 30px;
        background-color: #fff
    }

    .sol-poster-content .poster-caption, .solution-nav {
        display: none
    }

    .sol-poster-title {
        display: block;
        padding: 10px 0;
        cursor: pointer
    }

    .sol-poster-title .caption, .sol-poster-title .icons-solution {
        display: inline-block;
        vertical-align: middle
    }

    .sol-poster-title .caption {
        margin-bottom: 0;
        font-size: 16px;
        margin-left: 5px
    }

    .solution-poster {
        height: auto
    }

    .solution-poster .sol-poster-item:first-child {
        border-top: 0 none
    }

    .solution-poster .sol-poster-item {
        background: 0 0;
        height: auto;
        padding: 0;
        border-top: 1px solid #eee;
        visibility: visible;
        opacity: 1;
        position: relative
    }

    .sol-poster-item .foldIcon {
        position: absolute;
        top: 25px;
        right: 0
    }

    .sol-poster-item .sol-poster-content {
        position: static;
        max-width: none;
        clear: both;
        padding: 20px 40px;
        border-top: 1px dashed #eee;
        display: none
    }

    .sol-poster-item .detail {
        margin-bottom: 20px
    }
}

@media (max-width: 360px) {
    .sol-poster-title .caption {
        font-size: 16px
    }
}

.customer-case-layer {
    position: relative
}

.customer-case-layer .case-btn {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    width: 40px;
    height: 60px;
    background: url(../images/carousel-btn.png) 0 0 no-repeat;
    z-index: 1;
    cursor: pointer
}

.customer-case-layer .case-btn.prev {
    background-position: 0 0;
    display: none
}

.customer-case-layer .case-btn.prev:hover {
    background-position: 0 -60px
}

.customer-case-layer .case-btn.next {
    right: 10px;
    left: auto;
    background-position: -40px 0
}

.customer-case-layer .case-btn.next:hover {
    background-position: -40px -60px
}

@media (min-width: 1680px) {
    .customer-case-layer .case-btn.prev {
        left: -50px
    }

    .customer-case-layer .case-btn.next {
        right: -50px
    }
}

.customer-case-box {
    width: 100%;
    overflow: hidden;
    cursor: default;
    height: 260px;
    position: relative
}

.customer-case-list {
    color: #818181;
    position: absolute;
    left: 0;
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: left .3s cubic-bezier(.86, 0, .07, 1)
}

.customer-case-list .cus-list-item {
    display: inline-block;
    width: 230px;
    height: 100%;
    margin-left: 12px;
    overflow: hidden
}

.customer-case-list .cus-list-item:first-child {
    margin-left: 0
}

.customer-case-list .title {
    margin: 15px 0;
    padding-bottom: 15px;
    font-size: 15px;
    color: #f5f5f5;
    line-height: 20px;
    border-bottom: 1px solid #b3adae;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.customer-case-list .figure {
    width: 100%;
    text-align: center;
    overflow: hidden
}

.customer-case-list .txt {
    margin-bottom: 5px;
    font-size: 12px;
    color: #f5f5f5
}

.customer-case-list .cus-box {
    position: relative;
    height: 100%
}

.customer-case-list .info {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -81px;
    background: rgba(31, 36, 50, .6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#991F2432, endColorstr=#991F2432);
    padding: 0 15px 15px;
    -webkit-transition: bottom .5s cubic-bezier(.86, 0, .07, 1);
    transition: bottom .5s cubic-bezier(.86, 0, .07, 1)
}

.customer-case-list .cus-box:hover .info {
    bottom: 0
}

.customer-case-list .info .txt {
    overflow: hidden;
    text-overflow: ellipsis
}

@media (max-width: 1279px) {
    .customer-case-list {
        margin-left: -5px;
        margin-right: -5px
    }

    .customer-case-list .cus-list-item {
        padding-left: 5px;
        padding-right: 5px;
        margin: 0
    }

    .customer-case-list .figure img {
        width: 100%
    }

    .customer-case-list .info {
        background-color: #2f3438
    }
}

.partner-list .item {
    float: left;
    text-align: center;
    width: 16.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 1px solid #d4d5d7
}

.partner-list .item:first-child {
    border-left-color: transparent
}

.partner-list .item img {
    vertical-align: middle;
    max-width: 90%
}

@media (max-width: 1023px) {
    .partner-list .item {
        width: 33.333333%
    }

    .partner-list .item:nth-child(4) {
        border-left-color: transparent
    }
}

@media (max-width: 799px) {
    .partner-list .item {
        margin-top: 15px;
        margin-bottom: 15px
    }
}

.app-store .tile {
    height: 250px;
    text-align: center;
    padding-top: 50px
}

.app-store .figure {
    height: 80px;
    line-height: 80px;
    font-size: 0
}

.app-store .figure img {
    max-width: 90%;
    vertical-align: middle
}

.app-store .stars {
    font-size: 0;
    margin-top: 5px
}

.app-store
.price-info {
    margin-top: 10px
}

.app-store .aui-tile {
    position: relative
}

.app-store .prod-great {
    margin-bottom: 20px
}

.prod-great:before, .saler-first:before {
    content: "";
    width: 106px;
    height: 106px;
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: 1;
    background: url(../images/prod-great.png) no-repeat
}

.saler-first:before {
    background: url(../images/saler-first.png) no-repeat
}

.app-store .saler-first .tile {
    height: 200px
}

.app-store .strong {
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2px
}

.app-store .saler-first .strong {
    margin-top: 15px
}

@media (max-width: 1279px) {
    .app-store .tile {
        padding-top: 20px;
        height: 190px
    }

    .app-store .saler-first .tile {
        height: 150px
    }
}

@media (max-width: 799px) {
    .app-store .figure {
        height: 60px;
        line-height: 60px
    }

    .app-store .figure img {
        height: 100%
    }

    .app-store .price-info {
        margin-top: 5px
    }

    .app-store .prod-great .tile {
        padding-top: 10px;
        height: 160px;
        border: 1px solid #eee
    }

    .app-store .saler-first .tile {
        height: 120px;
        border: 1px solid #eee;
        padding-top: 20px
    }

    .prod-great:before, .saler-first:before {
        width: 80px;
        height: 80px;
        background-size: contain;
        top: -2px;
        left: -2px
    }

    .app-store .saler-first .strong {
        margin-top: 5px
    }
}

.network-cert .tile {
    height: 335px
}

.hwcloud-network-map {
    padding-top: 25px;
    padding-left: 25px;
    height: 335px;
    background: url(../images/hwcloud-network-map.jpg) center
}

.hwcloud-network-map .caption {
    font-size: 20px
}

.network-cert {
    margin-bottom: 20px
}

.network-cert .certificate {
    padding: 5px 40px;
    background-color: #2d6aa6
}

.network-cert .certificate .info {
    color: #fff;
    margin-left: 50px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.network-cert .cert-item {
    padding-top: 17px;
    padding-bottom: 15px;
    border-top: 1px dashed #608dbb
}

.network-cert .cert-item:first-child {
    border-top-color: transparent
}

.network-cert .cert-item .cert-logo {
    float: left
}

.security-info .aui-tile {
    height: 200px
}

.security-info .caption {
    font-size: 20px
}

.security-info .more {
    margin-top: 10px;
    display: block
}

.party-3rd .caption {
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 16px
}

.party-3rd-list .item {
    float: left;
    height: 60px;
    line-height: 60px;
    width: 33.333333%;
    font-size: 0;
    text-align: center
}

.party-3rd-list .item img {
    vertical-align: middle
}

@media (max-width: 1023px) and (min-width: 700px) {
    .network-cert .cert-item {
        width: 50%;
        float: left;
        border-top: none;
        border-bottom: 1px dashed #608dbb
    }

    .network-cert .cert-item:last-child {
        border-bottom-color: transparent
    }

    .network-cert .certificate {
        height: auto
    }
}

@media (max-width: 799px) {
    .network-cert .certificate {
        height: 290px
    }

    .network-cert .hwcloud-network-map {
        height: 170px;
        background-size: cover;
        padding-top: 15px
    }

    .network-cert .cert-item {
        padding-top: 12px;
        padding-bottom: 10px
    }

    .security-info .aui-tile {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px
    }

    .security-info .caption {
        font-size: 18px
    }
}

.hw-events .aui-tile {
    height: 260px;
    padding: 30px
}

.hw-event-item {
    height: 40px;
    line-height: 40px;
    color: #36383c;
    white-space: nowrap;
    position: relative
}

.hw-event-item:after, .hw-event-item:before {
    border: 8px solid transparent;
    border-width: 6px 8px;
    border-left-color: #36383c;
    position: absolute;
    right: 0;
    top: 13px
}

.hw-event-item:after {
    border-left-color: #fff;
    border-width: 5px 7px;
    right: 2px;
    top: 14px
}

.hw-event-item:hover:before {
    border-left-color: #0090ff
}

.hw-event-item .time, .hw-event-item .txt {
    display: inline-block;
    vertical-align: middle
}

.hw-event-item .time {
    margin-right: 10px
}

.hw-event-item .txt {
    padding-left: 30px;
    max-width: 88%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative
}

.cloud-event .hw-event-item .txt {
    max-width: 75%
}

.hw-event-item .txt:before {
    content: "";
    position: absolute;
    left: 6px;
    width: 15px;
    height: 40px;
    border-left: 3px solid #e3e3e4
}

.hw-event-item .txt:after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #e41e2b;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 13px
}

.oldIE .hw-event-item .txt:after {
    border: none;
    background: url(../images/dot-red.png)
}

.hw-event-item .txt .name {
    font-weight: 700
}

.hw-event-item .event-hot, .hw-event-item .event-new {
    margin-left: 10px;
    width: 38px;
    height: 15px;
    background: url(../images/event-new.png);
    display: inline-block;
    vertical-align: middle
}

.hw-event-item .event-hot {
    background: url(../images/event-hot.png)
}

@media (max-width: 1023px) {
    .hw-events .aui-tile {
        height: auto
    }
}

@media (max-width: 799px) {
    .hw-events .aui-tile {
        padding: 15px
    }
}

@media (max-width: 399px) {
    .cloud-event .hw-event-item .txt {
        max-width: 70%
    }
}